.table-container {
    overflow-y: auto;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    max-height: 55vh;
    margin-bottom: 3vh;
}

.help-section {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 2px solid var(--button-background-color);
    padding: 20px;
    border-radius: 10px;
}

.table {
    display: grid;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.table-head {
    height: 100%;
    padding: 0 15px;  
    display: contents;
}

.table-body {
    display: contents;
}

.table-body td {
    height: 100%;
    box-sizing: border-box;
}

.table-body tr {
    display: contents;
}

.table-card {
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    display: table-row;
}

.table-card-column {
    justify-content: center;
    padding: 15px;
    text-align: center;
    border-top: 6px solid var(--button-hover-background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.table-card-subcontainer {
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 16px;
    text-align: center;
}

.column-names {
    font-weight: bold;
    display: contents;
    text-align: center;
}

.column-names th {
    padding: 15px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
    z-index: 1;
    font-weight: bold;
}

.table-card-column-settle {
    padding: 15px;
    text-align: center;
}

.pointer-cursor {
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.balance-negative {
    font-weight: bold;
    color: #00d049;
}
  
.balance-positive {
    font-weight: bold;
    color: red;
}

.settle-button {
    background-color: var(--button-background-color);
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: white;
}

.settle-button:hover {
    background-color: var(--button-hover-background-color);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

body ::-webkit-scrollbar {
    display: block;
    width: 12px;  
    height: 12px;
}

/* The track of the scrollbar */
body ::-webkit-scrollbar-track {
    background: var(--background-color); /* Light gray background of the track */
    border-radius: 10px;  /* Optional: rounded corners */
}

/* The draggable part of the scrollbar (the thumb) */
body  ::-webkit-scrollbar-thumb {
    background: var(--button-background-color); /* Dark gray color */
    border-radius: 10px; /* Optional: rounded corners for the thumb */
}

/* Hover effect for the thumb */
body ::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-background-color); /* Darker gray when hovered */
}

/* Optional: Styling for the scrollbar buttons */
body ::-webkit-scrollbar-button {
    background: var(--background-color); /* Button background color */
}

::-webkit-scrollbar { 
    display: none
}