.menu-button {
    background-color: var(--navbar-background-color);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #494949;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--navbar-background-color);
    color: var(--text-color);
    border: 1px solid var(--button-background-color);
    border-radius: 4px;
    z-index: 1;
    width: 150px;
}

.menu-item {
    display: block;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    color: var(--text-color);
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--button-hover-background-color);
}